body {
  display: flex; /* Flexible layout box */
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  flex-direction: column; /* Makes items stack top-to-bottom instead of left-to-right (default is row). */
}
#add-btn {
  margin-top: 30px;
  background-color: lightblue;
}
#remove-btn {
  background-color: tomato;
}
#toggle-btn {
  background-color: yellow;
}
.fade {
  transition: opacity 0.5s;
  opacity: 1;
}
.fade.hide {
  opacity: 0;
}
#list-view li button {
  display: inline-block;
  border: none;
  background-color: white;
  border-radius: 3px;
  height: 25px;
}
#list-view li button:hover {
  filter: brightness(90%);
  cursor: pointer;
}
#list-view li button:active {
  filter: brightness(80%);
}
